<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>325218475809-cfs7ag3618o44ccutbn2k5p18danbpnu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.325218475809-cfs7ag3618o44ccutbn2k5p18danbpnu</string>
	<key>API_KEY</key>
	<string>AIzaSyDK2F9kwLQr_q6YBFVESGZiA_FHD4BmPQg</string>
	<key>GCM_SENDER_ID</key>
	<string>325218475809</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lmbcosta.socialApp</string>
	<key>PROJECT_ID</key>
	<string>social-app-54058</string>
	<key>STORAGE_BUCKET</key>
	<string>social-app-54058.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:325218475809:ios:8b77cb4e11a6df02</string>
	<key>DATABASE_URL</key>
	<string>https://social-app-54058.firebaseio.com</string>
</dict>
</plist>
